<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <!--    <link rel="stylesheet" href="globals.css" />-->
    <link rel="stylesheet" href="/templates/category-managementent/category-management-styleguide.css" />
    <link rel="stylesheet" href="/templates/category-managementent/category-management.css" />
</head>

<body>
<div class="div-wrapper">
    <div class="div">
        <div class="overlap-group">
            <div class="text"></div>
            <div class="navbar">
                <ul>
                    <li th:each="category : ${categories}">
                        <a th:href="@{/categories/{id}(id=${category.id})}" th:text="${category.name}"></a>
                    </li>
                </ul>
                <!--                    <div class="text-wrapper">대분류1</div>-->
                <!--                    <div class="text-wrapper">대분류2</div>-->
                <!--                    <div class="link-list">-->
                <!--                        <div class="text-wrapper">대분류3</div>-->
                <!--                        <img class="vector" src="img/image.svg" />-->
                <!--                    </div>-->
                <div class="text-wrapper">
                    대분류4</div>
                <div class="text-wrapper">대분류5</div>
            </div><img class="line-rounded-bin" src="img/bin.svg" /><img class="img" src="img/bin.svg" /><img
                class="line-rounded-bin-2" src="img/bin.svg" /><img class="line-rounded-bin-3"
                                                                    src="img/bin-2.svg" /><img class="line-rounded-bin-4" src="img/bin-2.svg" />
        </div>
        <div class="component">
            <div class="component-2">
                <div class="nav-list">
                    <div class="master-input-text">
                        <div class="container">
                            <div class="text-icons">
                                <div class="input-content"><img class="line-rounded-search" src="img/search.svg" />
                                    <div class="input-placeholder">Search</div>
                                </div><img class="line-rounded-search" src="img/search.png" />
                            </div>
                        </div>
                    </div>
                    <div class="master-primary">
                        <div class="button-text">로그인</div>
                    </div>
                    <div class="master-secondary">
                        <div class="button-text-2">회원가입</div>
                    </div>
                </div>
                <div class="logo-style-guide-top">
                    <div class="image-nation">idus</div>
                </div>
            </div>
        </div><img class="image" src="img/image-1.png" />
        <div class="sections">
            <div class="element">소분류1<br />소분류2<br />소분류3<br />소분류4<br />소분류5<br />...</div>
            <div class="element-2">소분류1<br />소분류2<br />소분류3<br />소분류4<br />소분류5<br />...</div>
            <div class="link-list">
                <div class="element-3">소분류1<br />소분류2<br />소분류3<br />소분류4<br />소분류5<br />...</div><img
                    class="vector" src="img/vector.svg" />
            </div>
            <div class="element-2">소분류1<br />소분류2<br />소분류3<br />소분류4<br />소분류5<br />...</div>
            <div class="element-2">소분류1<br />소분류2<br />소분류3<br />소분류4<br />소분류5<br />...</div>
        </div>
        <div class="overlap">
            <div class="rectangle"></div>
            <div class="text-wrapper-2">카테고리 추가</div>
            <div class="rectangle-2"></div>
            <div class="text-wrapper-3">카테고리 수정</div>
        </div>
    </div>
</div>
</body>

</html>
