.section {
  margin: 0px 200px;
}

/* 주문 상세 title */
.page-title {
  padding-bottom: 10px;
  border-bottom: black solid 1px;
}

.page-title .title-name {
  font-weight: bold;
  font-size: xx-large;
}

.product-item-container {
  display: flex;
  flex-direction: column;
}

.one-product {
  display: flex;
  flex-direction: row;
}

/* 이미지 */
.one-product .product-image {
  width: 200px;

  position: relative;
  top: 10px;
}
.product-item .image {
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  height: 100px;
  width: 100px;
}

.product-item .image img {
  height: 100px;
}

.product-content-wrapper .product-detail {
  width: 100%;
}

.product-content-wrapper .product-detail .pay-time {
  margin-bottom: 5px;
}

/* 상품 이름 */
.product-item p.title {
  margin: 1rem 0;
}

.product-item p.title .tag {
  display: inline-block;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

/* 상품 content */

.content {
  display: flex;
  justify-content: space-between;

  position: relative;
  top: 20px;
}

.upper {
  display: flex;
  margin-top: -10px;
  margin-bottom: 15px;

  border-bottom: #f4f3f3 solid 1px;
}

.upper .pay-time {
  margin-right: 5px;
}

.upper .proudct-status {
  margin-left: 5px;
  font-weight: 600;
  color: palevioletred;
}

.buttons-container {
  margin-top: 10px;
}
