/* 페이지네이션 */
.page-wrapper {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.page-wrapper .page-before,
.page-wrapper .page-number,
.page-wrapper .page-number-button,
.page-wrapper .page-after {
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  text-decoration-line: none;
}

.page-wrapper .page-number {
  font-size: large;
  position: relative;
  bottom: 3px;
  margin: 0px 5px;
}
