.div-wrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.div-wrapper .div {
    background-color: #ffffff;
    width: 1440px;
    height: 2161px;
    position: relative;
}

.div-wrapper .overlap-group {
    position: absolute;
    width: 1440px;
    height: 376px;
    top: 0;
    left: 0;
}

.div-wrapper .text {
    position: absolute;
    top: 277px;
    left: 110px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

/*.div-wrapper .component {*/
/*    position: absolute;*/
/*    width: 1440px;*/
/*    height: 118px;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

.div-wrapper .component-2 {
    position: relative;
    height: 118px;
    background-color: #ffffff;
}

.div-wrapper .nav-list {
    display: flex;
    width: 651px;
    height: 54px;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    padding: 0px 0px 0px 25px;
    position: absolute;
    top: 32px;
    left: 679px;
}

.div-wrapper .master-input-text {
    display: flex;
    width: 282px;
    align-items: flex-start;
    gap: 240px;
    padding: 14px 24px;
    position: relative;
    background-color: var(--neutral-colorscolor-400);
    border-radius: 50px;
}

.div-wrapper .container {
    display: flex;
    width: 371px;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-right: -137px;
}

.div-wrapper .text-icons {
    display: flex;
    width: 371px;
    align-items: center;
    gap: 240px;
    position: relative;
}

.div-wrapper .input-content {
    display: flex;
    width: 113px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
}

.div-wrapper .line-rounded-search {
    position: relative;
    width: 18px;
    height: 18px;
}

.div-wrapper .input-placeholder {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-single-100-regular-font-family);
    font-weight: var(--text-single-100-regular-font-weight);
    color: var(--neutral-colorscolor-1000);
    font-size: var(--text-single-100-regular-font-size);
    text-align: center;
    letter-spacing: var(--text-single-100-regular-letter-spacing);
    line-height: var(--text-single-100-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-single-100-regular-font-style);
}

.div-wrapper .master-primary {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 18px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--neutral-colorsheadings-black);
    border-radius: 30px;
}

.div-wrapper .button-text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-single-100-bold-font-family);
    font-weight: var(--text-single-100-bold-font-weight);
    color: var(--neutral-colorswhite);
    font-size: var(--text-single-100-bold-font-size);
    text-align: center;
    letter-spacing: var(--text-single-100-bold-letter-spacing);
    line-height: var(--text-single-100-bold-line-height);
    white-space: nowrap;
    font-style: var(--text-single-100-bold-font-style);
}

.div-wrapper .master-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 18px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--neutral-colorswhite);
    border-radius: 30px;
    border: 1px solid;
    border-color: var(--neutral-colorscolor-600);
}

/*.div-wrapper .text-wrapper {*/
/*    position: relative;*/
/*    width: fit-content;*/
/*    margin-top: -1px;*/
/*    font-family: var(--text-single-100-regular-font-family);*/
/*    font-weight: var(--text-single-100-regular-font-weight);*/
/*    color: var(--neutral-colorsheadings-black);*/
/*    font-size: var(--text-single-100-regular-font-size);*/
/*    text-align: center;*/
/*    letter-spacing: var(--text-single-100-regular-letter-spacing);*/
/*    line-height: var(--text-single-100-regular-line-height);*/
/*    white-space: nowrap;*/
/*    font-style: var(--text-single-100-regular-font-style);*/
/*}*/


.div-wrapper .text-wrapper-2 {
    width: 389px;
    top: 110px;
    left: 80px;
    margin-left: 80px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.div-wrapper .text-wrapper-3 {
    width: 389px;
    padding: 30px 0 0 80px;
    top: 177px;
    left: 80px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.div-wrapper .flexcontainer {
    top: 238px;
    left: 80px;
    padding: 0 0 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    width: 355px;
    height: 138px;
}

.div-wrapper .span-wrapper {
    align-self: stretch;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.div-wrapper .span {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
}

.div-wrapper .overlap {
    position: absolute;
    width: 389px;
    height: 195px;
    top: 426px;
    left: 80px;
}

.div-wrapper .text-wrapper-4 {
    position: absolute;
    width: 389px;
    top: 0;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.div-wrapper .flexcontainer-2 {
    top: 57px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    position: absolute;
    width: 355px;
    height: 138px;
}

.div-wrapper .overlap-2 {
    width: 186px;
    height: 47px;
    top: 896px;
    left: 79px;
    background-color: #d9d9d9;
}

.div-wrapper .text-wrapper-5 {
    top: 7px;
    left: 25px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.div-wrapper .overlap-3 {
    width: 132px;
    height: 47px;
    top: 896px;
    left: 283px;
    background-color: #d9d9d9;
}

.div-wrapper .image {
    position: absolute;
    width: 1283px;
    height: 380px;
    top: 1771px;
    left: 79px;
    object-fit: cover;
}
