<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shopping Mall</title>

    <!-- bulma css 관련 -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
            defer
            src="https://kit.fontawesome.com/9daa42bcef.js"
            crossorigin="anonymous"
    ></script>
    <!-- google icon -->
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../css//header.css" />
    <link rel="stylesheet" href="../css//footer.css" />
    <link rel="stylesheet" href="product-management.css" />
    <!-- AWS S3 사용하기 위한 파일 -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.410.0.min.js"></script>
    <script src="product-management.js" type="module" defer></script>
</head>
<body>
<div class="modal-modify modal">
    <div class="modal_body">
        <div class="modal-inner">
            <h2>상품 정보 수정</h2>
            <!-- 가격 수정 -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="newPrice">가격</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input
                                    class="input"
                                    id="newPrice"
                                    type="text"
                                    placeholder="새로운 가격 입력"
                                    autocomplete="on"
                            />
                        </p>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button type="submit" class="modify-btn">수정</button>
                <button type="button" class="cancel-btn">취소</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-add modal">
    <div class="modal_body">
        <div class="modal-inner">
            <h2>상품 추가</h2>
            <!-- 가격 수정 -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="price">가격</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input
                                    class="input"
                                    id="price"
                                    type="text"
                                    placeholder="상품의 가격 입력"
                                    autocomplete="on"
                            />
                        </p>
                    </div>
                </div>
            </div>
            <!-- 상품명 -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label product-name" for="productName">상품명</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input
                                    class="input"
                                    id="productName"
                                    type="text"
                                    placeholder="상품명 입력"
                                    autocomplete="on"
                            />
                        </p>
                    </div>
                </div>
            </div>

            <!-- 상태-->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">상태</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <select id="productStatusDropdown">
                            <option value="1" selected>판매중</option>
                            <option value="2">일시품절</option>
                            <option value="3">판매중단</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- 현재 재고 -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="stock">재고</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input
                                    class="input"
                                    id="stock"
                                    type="text"
                                    placeholder="상품의 재고 입력"
                                    autocomplete="on"
                            />
                        </p>
                    </div>
                </div>
            </div>

            <!-- 상품 이미지(이미지 등록?) -->

            <div class="buttons">
                <button type="submit" class="create-btn">추가</button>
                <button type="button" class="cancel-add-btn">취소</button>
            </div>
        </div>
    </div>
</div>
<header id="header-component">
    <div class="header-container">
        <div class="header-logo">
            <a href="#">
                <img
                        class="header-title-image"
                        src="https://i.ibb.co/Gt74K7K/1111-removebg-preview.png"
                        alt="아하"
                />
            </a>
        </div>
        <div class="header-nav-list">
            <div class="header-search">
                <div class="header-search-light">
                    <img
                            class="icon search-light"
                            src="https://i.ibb.co/yf6Xpw4/search-light.png"
                            alt=""
                    />
                </div>
                <label>
                    <input
                            class="header-search-input-placeholder"
                            placeholder="search"
                    />
                </label>
            </div>

            <div class="header-nav-login-button">
                <span class="header-nav-login-button-text"> 로그인 </span>
            </div>
            <div class="header-nav-signup-button">
                <span class="header-nav-signup-button-text"> 회원가입 </span>
            </div>
        </div>
    </div>
</header>

<!-- 제품 목록 -->
<section class="section">
    <div class="container product-item-container" id="producItemContainer">
        <div class="buttons-container product-add-filterSearch">
            <button class="button" id="addToProductButton">상품 추가</button>
            <button class="button" id="filtering">필터링</button>
        </div>
        <!-- api 요청 후 만들어진 제품들 카드 요소가 삽입되는 곳 -->
        <!-- 상품이 n개면 <dic class="one-product">가 n번 반복되게 -->
        <dic class="one-product">
            <div class="is-child box product-image">
                <figure class="image is-sqaure">
                    <!-- 상품 이미지 -->
                    <img id="productImageTag" src="" />
                </figure>
            </div>

            <div class="tile is-parent is-vertical product-content-wrapper">
                <div class="tile is-child box product-detail">
                    <div class="tabs">
                        <ul>
                            <!-- 카테고리 -->
                            <li id="manufacturerTag"></li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="product-name-status">
                            <!-- 상품 이름 -->
                            <p
                                    class="subtitle is-4 is-family-monospace"
                                    id="titleTag"
                            ></p>
                            <div class="status-wrapper">
                                <!-- 상품 상태를 나타내는 아이콘 -->
                                <span class="material-symbols-outlined">
                      fiber_manual_record
                    </span>
                                <!-- 상품 상태 -->
                                <p class="proudct-status" id="statusTag"></p>
                            </div>
                        </div>

                        <div class="price-stock-wrapper">
                            <!-- 상품 가격 -->
                            <h2 id="priceTag"></h2>

                            <div class="stock-wrapper">
                                <!-- 남은 수량 -->
                                <p class="remain-stock-word">남은 수량:</p>
                                <p class="remain-stock" id="remainStock"></p>
                            </div>
                        </div>
                        <div class="buttons-container">
                            <button class="button" id="addToCartButton">
                                <span class="material-symbols-outlined"> delete </span>
                            </button>
                            <button class="button product-modify-btn" id="purchaseButton">
                                수정하기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </dic>
    </div>
</section>
<footer class="footer">
    <div class="footer-navigation body3-regular-medium text-center">
        <div>이용약관</div>
        <div class="bar">|</div>
        <div class="body3-bold-medium" rel="nosublink">개인정보 처리방침</div>
        <div class="bar">|</div>
        <div>공지사항</div>
        <div class="bar">|</div>
        <div>자주묻는 질문</div>
        <div class="bar">|</div>
        <div>이벤트</div>
        <div class="bar">|</div>
        <div>입점문의</div>
        <div class="bar">|</div>
        <div>about idea house</div>
        <div class="bar">|</div>
        <div>인재영입</div>
    </div>
    <div class="footer-container">
        <div class="full">
            <div class="body3-regular-medium text-left">
                <div class="float-left">
                    <img
                            class="baseLogo"
                            src="https://i.ibb.co/Gt74K7K/1111-removebg-preview.png"
                            style="height: 42px; width: 100px"
                    />
                </div>
                <div class="float-left" style="width: 450px">
                    <div class="mb-[8px] body3-bold-medium">(주) 아이디어하우스</div>
                    <div data-v-f1827758="">대표이사 : 빌게이츠</div>
                    <div data-v-f1827758="">
                        서울특별시 성동구 아차산로17길 48 성수낙낙 C동 2층 엘리스Lab
                        성수점
                    </div>
                    <div data-v-f1827758="">사업자 등록번호 : 123-45-67890</div>
                    <div data-v-f1827758="">
                        통신판매업신고 : 2024-서울성수-1234호
                    </div>
                    <div data-v-f1827758="">
                        호스팅서비스 제공자 : AWS WEB Service, Inc
                    </div>
                    <div class="caption2-regular-medium mt-[8px] tracking-tight">
                        아이디어하우스는 통신판매중개자이며 통신판매의 당사자가
                        아닙니다. <br data-v-f1827758="" />
                        따라서 아이디어하우스는 상품 거래정보 및 거래에 대하여 책임을
                        지지 않습니다.
                    </div>
                    <div class="mt-[8px] caption2-regular-medium" data-v-f1827758="">
                        Copyright ©Ideahouse Inc. all rights reserved.
                    </div>
                </div>
                <div class="float-middle" style="width: 240px">
                    <div>
                        <div class>
                            <span class="body3-bold-medium">고객센터</span>
                            <span class="caption2-regular-medium">
                    (평일 오전 10시 ~ 오후 6시)
                  </span>
                        </div>
                        <div class>
                            <a href="https://bit.ly/3IDiamS"></a>
                        </div>
                        <div class="footer-button">
                            <button type="outline" class="CoreButton">
                                <span>단체선물 문의</span>
                            </button>
                            <button type="outline" class="CoreButton">
                                <span>아이디어하우스 채팅 상담</span>
                            </button>
                        </div>
                        <div class="grid-container">
                            <div class="grid-item">
                                <div>대표번호</div>
                                <div>1668-1234</div>
                            </div>
                            <div class="grid-item">
                                <div>제휴문의</div>
                                <div>aha@ideahouse.kr</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div clas="float-right">
                    <div class="float-right">
                        <div class="right-title">Follow Us</div>
                        <div class="TheFooter__snsLink">
                            <a
                                    href="https://www.facebook.com"
                                    class="TheFooter__snsLink_facebook"
                            >
                                <img
                                        src="https://i.ibb.co/Q6q1JL6/image.png"
                                        alt="Facebook"
                                />
                            </a>
                            <a
                                    href="https://www.instagram.com"
                                    class="TheFooter__snsLink_instagram"
                            >
                                <img src="https://i.ibb.co/KzPgnvr/1.png" alt="1" />
                            </a>
                            <a
                                    href="https://blog.naver.com"
                                    class="TheFooter__snsLink_naverBlog"
                            >
                                <img src="https://i.ibb.co/98r3RVb/2.png" alt="2" />
                            </a>
                            <a
                                    href="https://post.naver.com"
                                    class="TheFooter__snsLink_naverPost"
                            >
                                <img src="https://i.ibb.co/vLXD634/3.png" alt="3" />
                            </a>
                            <a
                                    href="https://twitter.com"
                                    class="TheFooter__snsLink_twitter"
                            >
                                <img src="https://i.ibb.co/Wts8MrJ/4.png" alt="4" />
                            </a>
                        </div>
                        <div class="TheFooter__award" style="width: 76px">
                            <div class="TheFooter__award1">
                                <img
                                        src="https://i.ibb.co/fFHCHkq/1-removebg-preview.png"
                                        alt="5"
                                        style="width: 106px; height: 60px"
                                />
                            </div>
                            <div class="TheFooter__award2">
                                <img
                                        src="https://i.ibb.co/3zgLGhm/2-removebg-preview.png"
                                        alt="6"
                                        style="width: 76px; height: 60px"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
