<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 및 결제</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/payment.css">
</head>
<body>
<header id="header-component">
    <div class="header-container">
        <div class="header-logo">
        <a href="#">
        <img class="header-title-image" src="https://i.ibb.co/N20ZLds/logo.jpg" alt="">
        </a>
        </div>
        <div class="header-nav-list">
        <div class="header-search">
            <div class="header-search-light">
            <img class="icon search-light" src="https://i.ibb.co/yf6Xpw4/search-light.png" alt=""/>
            </div>
            <label>
            <input class="header-search-input-placeholder" placeholder="search">
            </label>
        </div>
    
        <div class="header-nav-login-button">
            <span class="header-nav-login-button-text">
                로그인
            </span>
        </div>
        <div class="header-nav-signup-button">
            <span class="header-nav-login-button-text">
                회원가입
            </span>
        </div>
        </div>
    </div>
</header>
<div class="total-container">
    <span class="title-container">
        주문 및 결제
    </span>
    <div class="content-title" id="payer-title">
        결제자 정보
    </div>
    <div class="buyer-info">
        구매자명: {회원 이름}<br />
        연락처: {회원 전화번호}<br />
        이메일: {회원 이메일}<br />
        회원등급: {회원 회원등급}<br />
        주소: {회원 주소}
    </div>
    <div class="content-title" id="delivery-title">
        배송지 정보
    </div>
    <div class="delivery-info">
        <div class="recipient-info">
        <div>받는사람: 
            <div class="rectangle-653">
            </div>
        </div>
        연락처: 
        <div class="rectangle-653">
        </div><br />
        주소: <div class="rectangle-653">
        </div>
        </div>
    </div>
    <div class="rectangle-655">
    </div>
    <div class="content-title" id="product-title">
        상품 정보
    </div>
    <div class="product-info">
        <div class="image-14">
        </div>
        <div class="image-10">
        </div>
    </div>
    <div class="button-area">
        <div class="total-pay-container">
            <span class="pay-button">
            총 37,900원 결제하기
            </span>
        </div>
    </div>
</div>
</body>
</html>