<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>카테고리 추가</title>
  <!-- bulma css 관련 -->
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
  <!-- 폰트 어썸: 아이콘 -->
  <script
          defer
          src="https://kit.fontawesome.com/9daa42bcef.js"
          crossorigin="anonymous"
  ></script>
  <!-- AWS S3 사용하기 위한 파일 -->
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.410.0.min.js"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="/category-add/category-add.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <script src="/category-add/category-add.js"></script>
</head>
<body>
<header id="header-component">
  <div class="header-container">
    <div class="header-logo">
      <a href="#">
        <img class="header-title-image" src="https://i.ibb.co/N20ZLds/logo.jpg" alt="아하">
      </a>
    </div>
    <div class="header-nav-list">
      <div class="header-search">
        <div class="header-search-light">
          <img class="icon search-light" src="https://i.ibb.co/yf6Xpw4/search-light.png" alt=""/>
        </div>
        <label>
          <input class="header-search-input-placeholder" placeholder="search">
        </label>
      </div>

      <div class="header-nav-login-button">
            <span class="header-nav-login-button-text">
                로그인
            </span>
      </div>
      <div class="header-nav-signup-button">
            <span class="header-nav-signup-button-text">
                회원가입
            </span>
      </div>
    </div>
  </div>
</header>
<!-- 카테고리 추가 폼(Form) -->
<section class="section">
  <div class="container">
    <div class="block account-header">
      <h1 class="subtitle is-4">카테고리 추가</h1>
    </div>
    <div class="register-category-form-container">
      <form
              class="box register-category-form-box"
              id="registerCategoryForm"
              action="/categories/add"
              method="post"
      >
        <p class="title is-5 has-text-custom" style="color: #5D5A88;">카테고리 추가하기</p>
        <div class="field">
          <label class="label" for="categoryNameInput">카테고리 이름</label>
          <div class="control">
            <input
                    class="input"
                    id="categoryNameInput"
                    type="text"
                    placeholder="패션잡화"
                    autocomplete="on"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="descriptionInput">대분류</label>
          <div class="control">
            <input
                    class="input"
                    id="descriptionInput"
                    type="text"
                    placeholder="패션/주얼리"
                    autocomplete="on"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="themeSelectBox">상위 카테고리</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select id="themeSelectBox" name="parent">
                <option value="">상위 카테고리를 선택해주세요.</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">
                </option>
              </select>
            </div>
          </div>
        </div>


        <button
                class="button is-custom is-fullwidth"
                id="addCategoryButton"
                type="submit"
                style="background-color: #5D5A88; border-color: #5D5A88; color: white;"
        >
          카테고리 추가하기
        </button>
      </form>
    </div>
  </div>
</section>
</body>
</html>
